body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background: #E5E5E5;
}
.contenedor-logo{
    width: 90%;
    margin: 0 auto;

}   
.logo{
    width: 60px;
    height: 60px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50px;
    background: #0A3871;
    position: relative;
}


.logo h1{
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

textarea{
    color: #0A3871;
}

textarea:focus{
    border-color: #0A3871;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #0A3871;
    outline: 0 none;
}

.aviso{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}
.aviso img{
    margin-right: 1em;
}

.contenedor-texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    width: 50%;
    box-sizing: border-box;
}

.contenedor-botones{
    width: 90%;
    margin: 1em 0 1em 0;
    text-align: center;
}

.contenedor-copy{
    width: 40%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#copy{
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.textoGenerado{
    font-size: 20px;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.textoGenerado img{
    width: 100%;
}
.textoGenerado h5{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.textoGenerado p{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.buttons{
    width: 40%;
    height: 2.5em;
    font-size: 18px;
    border-radius: 5px;
    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
}
.buttons:active{
    background: #0A3871;
    color: #D8DFE8;
}

.active{
    background: #0A3871;
    color: #D8DFE8;
}